# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Project1/.vs/Project1/v16
/Project1/Project1/Project1.vcxproj
/Project1/Project1/Project1.vcxproj.filters
/Project1/Project1/Project1.vcxproj.user
/Project1/Project1.sln
/Project1/Project1/Debug/Project1.tlog
/Project1/Project1/Debug/Project1.exe.recipe
/Project1/Project1/Debug/Project1.ilk
/Project1/Project1/Debug/Project1.log
/Project1/Project1/Debug/vc142.idb
/Project1/Project1/Debug/vc142.pdb
/Project1/Debug/Project1.pdb
